APP_PORT= # type: int, required, default: 8080


# DB
DB_HOST=     # type: string, required
DB_PORT=     # type: string, required, default: 5432
DB_USER=     # type: string, required
DB_PASSWORD= # type: string, required
DB_NAME=     # type: string, required
DB_SSLMODE=  # type: string, required, default: disable


# Redis
REDIS_HOST= # type: string, required, default: localhost
REDIS_PORT= # type: string, required, default: 6379


# JWT
JWT_SECRET=      # type: string, required
JWT_ACCESS_TTL=  # type: time.Duration, required, default: 15m
JWT_REFRESH_TTL= # type: time.Duration, required, default: 168h
